@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
/*Variables*/

:root{
    --center: 50%;
}

html{
    font-size: 62.5%;
    font-family: 'Source Code Pro', 'Bold';
}
body{
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: black;
}
header{
    align-items: center;
    display: block;
    position: sticky;
    top:0;
    width: inherit;
    height: 0;
    z-index: 999;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 0;
    margin: 0 auto;
    gap: 4.1em;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}
nav ul li a.active:before{
    position: absolute;
    content:"";
    width: 100%;
    height: 1px;
    border-bottom: 2px solid white;
    bottom: -6px;
}
nav ul li a:before{
    position: absolute;
    content: "";
    width: 0%;
    height:1px;
    border-bottom: 2px solid #ccc;
    bottom: -6px;
    transition: width .3s;
}

nav ul li a:hover:before{
    width: 100%;
}

/* wrapper */

.wrapper{
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    transform: scale(0.3);
    animation: growin 900ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

/* Heroes */
.snap-heroes{
    z-index: 20;
    height: 100vh;
    overflow-y: overlay;
    box-sizing: content-box;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.snap-heroes::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}
.snap-heroes::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.3);
    border-radius:0.3em;
}
.snap-heroes::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.hero{
    z-index:10;
    position: relative;
    height: 105vh;
    scroll-snap-align:start; 
    background: transparent;
    color:white;
}
.hero p, .hero a, .hero span{
    font-weight: 400;
}
.hero h1{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7.2rem;
    justify-content: center;
    cursor: default;
}

.home{
    background-color: black;
}

#blinking-text{
    position: absolute;
    top:85%;
    left:50%;
    font-size: 2.2rem;
    color:rgba(255, 255, 255, 0.8);
    transform: translate(-50%, -50%);
    animation: blinkingtext 4s infinite;
    transition: color 500ms ease-in;
    cursor: default ;
}

@keyframes blinkingtext{
    0%{
        color:rgba(255, 255, 255, 0.8)
    }
    50%{
        color: rgba(255,255,255,0.1);
    }
    100%{
        color:rgba(255, 255, 255, 0.8);
    }
}


.about p{
    position: absolute;
    top:75%;
    left:50%;
    font-size: 1.8rem;
    transform: translate(-50%, -50%);
    cursor: default;
}


/* project carousel*/
.project h1{
    top: 2em;
    text-transform: uppercase;
}

.project{
    position: relative;
}

.list-of-projects{
    overflow-x:hidden;
    display: grid;
    position: relative;
    left: 50vw;
    top: 60vh;
    transform: translate(-50%, -50%);
    place-items: center;
    height: 100vh;
}
.proj-li{
    border: rgba(255,255,255,0.3) solid 3px;
    height: 55vh;
    width: 120em;
    max-width: 120em;
    position: absolute;
    transition: all 0.5s;
}
.proj-li div{
    position: relative;
    width: 100%;
    height: 100%;
}
.proj-li div h4{
    position: absolute;
    font-size: 3.2rem;
    left:50%;
    top:20vh;
    color: rgba(255,255,255,0.5);
    transform: translate(-50%, -50%);
}
.btn{
    position: absolute;
    height: 6vmax;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    z-index: 20;
    cursor: pointer;
    background-color: transparent;
    font-size: 6.2rem;
    top: 43vh;
}
.btn-next, .btn-prev{
    color: rgba(255, 255, 255, 0.8);
    transition: color 500ms ease-in;
}
.btn-prev{
    left: 10vw;
}
.btn-next{
    left: 85vw;
}
.disabled{
    color: rgba(255,255,255,0.1);
}


/* contact */
.contact h1{
    position: absolute;
    left: var(--center);
    top: 15vh;
}

#form-container{
    position: absolute;
    display: block;
    width: 150em;
    height: 70vh;
    left: 50vw;
    top: 35vh;
    transform: translate(-50%, -50%);
    margin: 15em auto 0 auto;
    background:transparent;
    text-align: center;
    padding: 5em 10em;
    box-sizing: border-box;
}

form{
    text-align:left;
    display: inline-block;
    width: 100%;
    position: relative;

}

form textarea{
    width: 100%;
    resize: none;
}

form label{
    font-size: 2.2rem;
}

form input{
    width: 100%;
    box-sizing: border-box;
    height: 2.5em;
    padding-left: 20px;
    padding-right: 20px;
    border: rgba(255,255,255, 0.6) 2px solid;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.3);
    color: white;
    font-size: 1.6rem;
    font-family: 'Source Code Pro';
    transition: border-color 125ms ease-in;
}

form textarea{
    width: 100%;
    box-sizing: border-box;
    resize:none;
    font-size: 1.6rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: rgba(255,255,255, 0.6) 2px solid;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.3);
    transition: border-color 125ms ease-in;
    color: white;
}

form label{
    margin-bottom: 20px;
}
form textarea:focus,form input:focus{
    outline: none;
    border-color: rgba(255, 255, 255, 1);
}

form button{
    position: absolute;
    border: none;
    font-family: 'Source Code Pro';
    border-radius: 30px;
    background-color: rgba(255,255,255, 0.6);
    font-size: 2rem;
    padding: 10px;
    width: 60%;
    left:25vh;
    top: 69vh;
    transition: background-color 125ms ease-in;
}

form button:hover{
    background-color: rgba(255, 255, 255, 1);
}

/* small animations */


/*animated back*/
#blob{
    z-index: 1;
    background-color: white;
    position:absolute;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    left: var(--center);
    top: var(--center);
    transform: translate(-50%, -50%);
    height: 34vmax;
    aspect-ratio: 1;
    animation: rotate 20s infinite;
    transform-origin: 0 0;
    border-radius: 50%;
}

#sub-blob{
    z-index: 1;
    background-color: white;
    position: absolute;
    background: linear-gradient(to right, orange, yellow);
    left: var(--center);
    top: var(--center);
    transform: translate(200%, -50%);
    height: 15vmax;
    aspect-ratio: 1;
    animation: orbit-big-boy 20s infinite, antirotate 20s infinite;
    transform-origin: 0 0;
    border-radius: 50%;
}

#green-blob{
    z-index: 1;
    background-color: white;
    position: absolute;
    background: linear-gradient(to right, green, lightgreen);
    left: var(--center);
    top: var(--center);
    transform: translate(-50%, 100%);
    height: 15vmax;
    aspect-ratio: 1;
    animation: orbit-big-boy2 10s infinite, antirotate 20s infinite;
    transform-origin: 0 0;
    border-radius: 50%;
}


@keyframes orbit-big-boy2{
    25%{
        transform: translate(-50% , -200%);
    }
    50%{
        transform: translate(-50% , -150%);
    }
    70%{
        z-index:2;
    }
    75%{
        transform: translate(-50%, 100%);
    }
    100%{
        z-index:1;
    }

}



@keyframes orbit-big-boy{
    25%{
        transform: translate(-250% , -50%);
    }
    50%{
        transform: translate(-200% , -50%);
    }
    70%{
        z-index:2;
    }
    75%{
        transform: translate(200%, -50%);
    }
    100%{
        z-index:1;
    }

}

@keyframes rotate{
    from{
        rotate:0deg;
    }
    50%{
        scale:1 1.5;
    }
    to{
        rotate: 360deg;
    }
}

@keyframes antirotate{
    from{
        rotate:0deg;
    }
    50%{
        scale:1 1.5;
    }
    to{
        rotate: -360deg;
    }
}

#blur{
    height: 100vh;
    width: 100vw;  
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(6vmax);
}

#curtain{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 30;
    animation: reveal 500ms ease-in forwards;
    transform-origin: bottom;
    background: black;
}

@keyframes reveal{
    from{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(0);
    }
}

@keyframes growin{
    from{
        transform: scale(0.3);
    }
    to{
        transform: scale(1);
    }
}


